// * main font size override *

body {
    //font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
}

// * header control and shadow *

.d-header {
  height: 60px;
  box-shadow: 0px 7px 7px rgba(#888888, 0.80);
  .panel {
    padding: 0 0 0 0;
    flex: 0 0 auto;
  }
}  

// * customize sidebar navigator menu *

// * sidebar background color *

#main-outlet-wrapper {
    .sidebar-wrapper {
    margin: 0px 0px 0px 0px;
    background-color: {{setting.sidebar_background_color}};
 //   background-color: rgba(#f6f6f6, 0.99);
//    border-radius: 8px;
//    top: calc(var(--header-offset) + 30px);
//    height: calc(100vh - (var(--header-offset) + 60px));
    }
}

// * sidebar gap to main body *

body.has-sidebar-page #main-outlet-wrapper {
    gap: 0 0.8em;
}

// * gap to header *

.sidebar-wrapper .sidebar-sections {
    padding: 0.8em 0em 0em 0em;
}

// * section headers formatting *

.sidebar-section-wrapper .sidebar-section-header {
    font-size: 14;
    color: #3e2650;
    font-weight: 600;
    // align-items: left;
}

// * section links *

.sidebar-section-link-wrapper .sidebar-section-link {
    align-items: left;
    color: #333333;
}

// * hide the Community Section *

.sidebar-section-wrapper.sidebar-section[data-section-name="community"] {
    display: none;
}

// * sidebar bullet styling for categories *

.sidebar-section-link-wrapper .sidebar-section-link-prefix .prefix-span {
    width: .7em;
    height: .7em;
    border-radius: 100%;
}

// * turn off the lock icon for all secure categories in the sidebar *

.sidebar-section-link-wrapper .sidebar-section-link-prefix.icon .prefix-badge, .sidebar-section-link-wrapper .sidebar-section-link-prefix.span .prefix-badge {
   display: none;
}

// * disable the link to anniversaries *

.sidebar-section-link-wrapper {
      .sidebar-section-link {
      &[data-link-name="anniversaries"] {
      display: none;
      }
  }
}

.sidebar-section-link-wrapper .sidebar-section-link.active .sidebar-section-link-prefix.icon {
    color: red;
}
//.sidebar-section-link-wrapper {
//      .sidebar-section-link {
//      &[data-tag-name="code"] {
//          display: none;
      //.d-icon.d-icon-tag {
      //  color: red;
      // }
  //   }
 // }
//}

span.username {
  &.moderator .d-icon.d-icon-shield-alt {
    color: gold;
  }
  &.admin .d-icon.d-icon-shield-alt {
    color: grey;
  }
} 
