// * sidebar gap to main body *

body.has-sidebar-page #main-outlet-wrapper {
    gap: 0 0.8em 0 0;
}

// * gap to header *

.sidebar-wrapper .sidebar-sections {
    padding: 0.6em 0em 0em 0em;
}

// * section headers formatting *

.sidebar-section-wrapper .sidebar-section-header {
    font-size: #{$header_font_size}px;
    color: $header_font_color;
    font-weight: $header_font_weight;
    // align-items: left;
}

// * section links *

.sidebar-section-link-wrapper .sidebar-section-link {
    font-size: #{$link_font_size}px;
    color: $link_font_color;
    // font-weight: $link_font_weight;
    // align-items: left;
}

// * side-bar link icon color clicked *

.sidebar-section-link-wrapper .sidebar-section-link.active .sidebar-section-link-prefix.icon {
    color: $current_link_icon_color;
}

.sidebar-section-link-wrapper .sidebar-section-link.active {
    color: $current_link_font_color;
}

// * hide the Community Section *

 @if $hide_community_section == "true" {
    .sidebar-section-wrapper.sidebar-section[data-section-name="community"] {
    display: none;
    }
 } 

// * hide the Community Section from anon users *

 @if $hide_community_section_from_anon == "true" {
    .anon .sidebar-section-wrapper.sidebar-section[data-section-name="cfl-forums"] {
    display: none;
    }
 } 

// * hide the Categories Section *

 @if $hide_categories_section == "true" {
    .sidebar-section-wrapper.sidebar-section[data-section-name="categories"] {
    display: none;
    }
 } 

// * hide the Categories Section from anon users *

 @if $hide_categories_from_anon == "true" {
    .anon .sidebar-section-wrapper.sidebar-section[data-section-name="categories"] {
    display: none;
    }
 } 

// * hide the Tags Section *

 @if $hide_tags_section == "true" {
    .sidebar-section-wrapper.sidebar-section[data-section-name="tags"] {
    display: none;
    }
 } 
// * hide the Tags Section from anon users *

 @if $hide_tags_from_anon == "true" {
    .anon .sidebar-section-wrapper.sidebar-section[data-section-name="tags"] {
    display: none;
    }
 } 

// * hide the Messages Section *

 @if $hide_messages_section == "true" {
    .sidebar-section-wrapper.sidebar-section[data-section-name="messages"] {
    display: none;
    }
 } 

// * hide the Channels Section *

 @if $hide_channels_section == "true" {
    .sidebar-section-wrapper.sidebar-section[data-section-name="channels"] {
    display: none;
    }
 } 

// * hide the Personal Chat Section *

 @if $hide_personal_chat_section == "true" {
    .sidebar-section-wrapper.sidebar-section[data-section-name="personal-chat"] {
    display: none;
    }
 } 

// * hide category bullets *

 @if $hide_category_bullets == "true" {
    .sidebar-section-link-wrapper .sidebar-section-link-prefix .prefix-span {
    display: none;
    }
 } 

// * sidebar category bullet styling *

.sidebar-section-link-wrapper .sidebar-section-link-prefix .prefix-span {
    //width: $category_bullet_size;
    //height: $category_bullet_size;
    border-radius: $category_bullet_rounding;
}

// * hide the lock icon for all secure categories in the sidebar *

@if $hide_lock_icon == "true" {
    .sidebar-section-link-wrapper .sidebar-section-link-prefix.icon .prefix-badge, .sidebar-section-link-wrapper .sidebar-section-link-prefix.span .prefix-badge {
    display: none;
    }
 } 

// * More sections to hide *

@if $hide_anniversaries == "true" {
   .sidebar-section-link-wrapper {
      .sidebar-section-link {
         &[data-link-name="anniversaries"] {
         display: none;
        }
      }
   }
} 

@if $hide_birthdays == "true" {
   .sidebar-section-link-wrapper {
      .sidebar-section-link {
         &[data-link-name="birthdays"] {
         display: none;
        }
      }
   }
} 
