html.anon {
  // If sidebar opened use the closed style
  body.has-sidebar-page {
    #main-outlet-wrapper {
      grid-template-columns: 0 minmax(0, 1fr);
      gap: 0;
      padding-left: 10px;
    }
    .wrap {
      max-width: var(--d-max-width);
    }
  }
  // Hide hamburger button
  .header-sidebar-toggle {
    display: none;
  }
}
